h1.text-center Ticket ##{@ticket.id}

h2 Title
p = @ticket.title

h2 Body
p = @ticket.body

= link_to 'Destroy', ticket_path(@ticket),
    method: :delete, 
    data: { confirm: 'Are you sure?'}
br
= link_to 'Ticket List', tickets_path 
