/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
textarea
  
  width: 50%
  height: 75%
  padding: 12px 12px
  padding-bottom: 10%
  border: 2px solid #ccc
  background-color: #f8f8f8
    

@import "bootstrap"

html
  @extend .h-100

body
  @extend .h-100
  background: linear-gradient(to bottom right, red, yellow)

table
  @extend .table
  @extend .table-striped
  @extend .table-responsive

h1
  padding-top: 2%
  
  @extend .text-center

thead
  @extend .thead-dark

.login-section
  @extend .row
  @extend .justify-content-center
  @extend .align-items-center
  @extend .h-75

#body
  background: rgba(255, 255, 255, .8)
